################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/EduApi/Log/*.*

/Backend/.vs
/Backend/EduApi/EduApi.csproj.user
/Backend/EduApi/obj
/Backend/EduApi/bin
/Backend/.vs/EduApi
/Backend/Model/obj
/Backend/Model/bin
/Backend/EduServices/obj
/Backend/EduServices/bin
/Backend/EduTest/bin
/Backend/EduTest/obj
/.vs
/Backend/.vs/
/EduBL/obj
/Backend/Core/bin
/Backend/Core/obj
/Backend/EduTest/bin
/Backend/EduTest/obj
/Backend/EduCore/obj
/Backend/EduCore/bin
/Backend/EduCore/obj
/Backend/EduCore/bin
/Backend/EduFacade/bin
/Backend/EduFacade/obj
/Backend/EduRepository/bin
/Backend/EduRepository/obj
/Backend/EduJob/bin
/Backend/EduJob/obj
/Backend/EduTypes/obj
/Backend/EduTypes/bin
/Backend/EduBL/bin/Debug/netcoreapp2.2
/Backend/EduBL/obj
/Backend/Configuration/bin
/Backend/Configuration/obj
/Backend/Integration/bin
/Backend/Integration/obj
/Backend/WebModel/bin
/Backend/WebModel/obj
